In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('airbnb.csv')
amenities = pd.read_json('airbnb_amenities.json').transpose()

In [27]:
datos= list(df['name'].apply(lambda x: x.split(' · ')))

In [29]:
amenities["rules"][11508].keys()
#get all the keys of the rules and put them into a set

def search_cat(category):
    set_cat = set()
    for i in amenities[category].keys():
        try:
            for j in amenities[category][i].keys():
                set_cat.add(j)
        except:
            pass
    return set_cat

rules = search_cat("rules")
amenities_set = search_cat("amenities")

,fotos,superhost,exp,amenities,rules
11508,37,True,13,"{'Bathroom': ['Bathtub', 'Hair dryer', 'Cleani...",{'Checking in and out': ['Check-in: 2:00 PM - ...
14222,52,True,6,"{'Bathroom': ['Bathtub', 'Hot water'], 'Bedroo...",{'Checking in and out': ['Check-in: 11:00 AM -...
15074,6,False,13,"{'Bedroom and laundry': ['Washer', 'Dryer'], '...",{'During your stay': ['1 guest maximum']}
16695,16,True,13,"{'Bathroom': ['Hair dryer', 'Hot water'], 'Bed...",{'Checking in and out': ['Check-in after 2:00 ...
20062,39,True,13,"{'Scenic views': ['City skyline view'], 'Bathr...",{'Checking in and out': ['Check-in: 3:00 PM - ...
...,...,...,...,...,...
923195625840585600,NaN,NaN,NaN,NaN,NaN
923212677801946624,19,True,7,"{'Scenic views': ['City skyline view', 'Park v...",{'Checking in and out': ['Check-in after 3:00 ...
923235409583837696,28,True,9,"{'Bathroom': ['Hair dryer', 'Shampoo', 'Bidet'...",{'Checking in and out': ['Check-in after 2:00 ...
923265334032756480,32,False,3,"{'Scenic views': ['City skyline view', 'Park v...",{'Checking in and out': ['Check-in after 4:00 ...
923267707537096960,NaN,NaN,NaN,NaN,NaN

In [28]:
alquileres = []

def proccess_rental(rental):
    info = {
        "rating" : None,
        "bedroom":None,
        "bed" : None,
        "bath":None,
        "is_studio":False,
        #"private_bath":True,
        "type":None
    }
    data:str
    for data in rental: 
        if data == "Studio":
            info["is_studio"] = True
            info["bedroom"] = 1
        elif "bedroom" in data:
            info["bedroom"] = data.split(" ")[0]
        elif "bed" in data:
            info["bed"] = data.split(" ")[0]
        elif "bath" in data:
            info["bath"] = data.split(" ")[0]
        elif "★" in data:
            info["rating"] = data[1:]
        else:
            tipo = data.split("in")[0]
            info['type'] = tipo
            
            
        


    return info

for rental in datos:
    alquileres.append(proccess_rental(rental))

In [29]:
#drop the column name
df.drop(['name'], axis=1, inplace=True)
#add alquilares to the dataframe
df = pd.concat([df, pd.DataFrame(alquileres)], axis=1)

In [ ]:
df.to_csv('airbnb_clean.csv', index=False)